.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;
  justify-content: center;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
